<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="form-container">
<h2>Update your profile</h2>
<div th:each="user :${user}">
<form action="update-register" method="post">
<label>Id</label>
<input type ="text" th:field="*{user.id}">
<label>Name</label>
<input type ="text" th:field="*{user.name}">
<label>Email</label>
<input type ="text" th:field="*{user.email}">
<label>Password</label>
<input type ="text" th:field="*{user.password}">
<label>Gender</label>
Male<input type ="radio" th:field="*{user.gender}" value="Male">
Female<input type ="radio" th:field="*{user.gender}" value="Female">
Other<input type ="radio" th:field="*{user.gender}" value="Other">
<label>Phone</label>
<input type ="number" th:field="*{user.phone}">
<label>Address</label>
<textarea rows ="5" th:field="*{user.address}"></textarea>
<input class="submit-button" type="submit" value="Update">

</form>

</div>


</div>

</body>
</html>